<suite name="Test-method Suite" parallel="methods" thread-count="1" >
    <listeners>
        <listener class-name="com.mentormate.common.AnnotationTransformer"/>
    </listeners>
    <test name="Test-method test" group-by-instances="true">
        <classes>
            <class name="selenium.LandingTest" />
            <class name="selenium.LoginTest" />
        </classes>
    </test>
</suite>
